.search {
  background-color: #445854;
  color: #ffffff;
  margin: 0;
  box-sizing: border-box;
  border-radius: 10px;
  padding-bottom: 20px;
  min-height: 600px; // временно

  h3 {
    padding: 20px;
    margin: 0;
  }

  .avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    & img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      cursor: pointer;
      box-shadow: 0 0 5px 1px grey;
      margin-bottom: 20px;
    }
  }
}
.showBtn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 20px;
  padding: 0 25px;
  width: 100%;

  & Button {
    margin-bottom: 10px;
  }

  .pageNumbers {
    display: flex;
    flex-wrap: wrap;

    Button {
      color: #c1dd7b;
      background-color: transparent;
      box-shadow: none;
      border: none;
      font-size: medium;
    }

    .selectedPage {
      font-weight: 700;
    }
  }

  .pageNumbers Button {
    margin-right: 5px;
  }
}

.userInfo {
  display: flex;
  width: 100%;
  margin: 20px;
  padding: 15px 10px;
  border: 2px solid red;
  border-radius: 5px;

  .userInfoTop {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  }
  .userInfoBottom {
    display: flex;
    justify-content: space-between;
  }
}

button {
  cursor: pointer;
}

.subscribeBtn {
  border-radius: 25px;
  padding: 5px 18px;
  font-weight: 700;
  color: #1c5c0a;
  background: linear-gradient(to top, #c6e081, #a5cd5b);
  min-width: 125px; // временно
}

.unsubscribeBtn {
  border-radius: 25px;
  padding: 5px 10px;
  font-weight: 700;
  background-color: #c6e081;
  color: #1c5c0a;
  background: linear-gradient(to top, #c6e081, #a5cd5b);
}
